<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Section17.Properties.Settings.CSharpDBTutorialConnectionString"
            connectionString="Data Source=DESKTOP-DU3VJN8\SQLEXPRESS;Initial Catalog=CSharpDBTutorial;Persist Security Info=True;User ID=sa;Password=123456;Pooling=False;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>